
  .nav-pills.progress-tracker {
    display: flex;
    counter-reset: progress-tracker-label;
    .progress-tracker-step {
      @include card-base;
      padding: 5px;
      text-align: left;
      flex-grow: 1;
      flex-basis: 0;
      //margin: 0 10px;
      margin-bottom: 0;
      background-color: transparent;
      box-shadow: none;
     .progress-tracker-label {
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 700;
        color: color(gray);
        background-color: transparent;
        box-shadow: none;
        padding-left: 20px !important;
        &:before {
          counter-increment: progress-tracker-label;
          content: counter(progress-tracker-label);
          position: absolute;
          bottom: 18px;
          left: 0px;
          width: 20px;
          height: 20px;
          line-height: 21px;
          font-size: 10px;
          font-weight: 700;
          border-radius: 50%;
          background-color: color(light);
          text-align: center;
          }
        &:after {
          position: absolute;
          content: "";
          top: 50%;
          width: 40%;
          right: 0;
          height: 1px;
          border-radius: 50%;
          background-color: lighten(gray, 30%);
          text-align: center;
        }
      }
      .progress-tracker-label.active{
          color: color(primary);
        &:before {
          background-color: color(primary);
          color: color(white);
        }
      }
      }
    li.nav-item.progress-tracker-step:last-child {
          .progress-tracker-label{
            &:after {
              display: none;
            }
          }

        }
      }
@include media-breakpoint-down(xs) {
  .progress-tracker-label {
    &:after {
      content: "";
      display: none;

    }

  }
}
